.hero {
   background-image: url('../../../../public/assets/HeroImagesm.png');
   background-size: cover;
   background-repeat: no-repeat;
   border-top-left-radius: 46px;
   border-top-right-radius: 46px;
   height: 146px;
   display: flex;
   align-items: center;
   padding: 0 30px;
}

.content {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.content > h1 {
   font-family: 'Mystery Quest';
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: var(--white);
}

.content > h1 > img {
   display: none;
}

.content p {
   color: var(--white);
   margin: 0.5rem 0 1rem;
}

.content .formWrap {
   position: relative;
}

.content .results {
   position: absolute;
   background-color: white;
   width: 100%;
   top: 120%;
   border-radius: 24px;
   padding: 12px;
   max-height: 220px;
   display: none;
}

.results p {
   text-align: center;
   color: var(--brown);
   margin-bottom: 0.75rem;
   font-size: 16px !important;
}

.results ul {
   width: 100%;
   padding: 12px;
   max-height: 190px;
   overflow-y: auto;
}

.results ul::-webkit-scrollbar {
   width: 0.25em;
}

.results ul::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.results ul::-webkit-scrollbar-thumb {
   background-color: darkgrey;
   border-radius: 10px;
   /* outline: 1px solid slategrey; */
}

.results ul li {
   padding: 16px;
   border-radius: 10px;
   transition: 0.3s background-color ease-in-out;
}

.results ul li:hover {
   background-color: var(--gray);
}

.results ul li a {
   padding: 16px;
   width: 100%;
   height: 100%;
   display: inline-block;
   padding: 0;
   color: var(--black);
}

.label {
   position: relative;
}

.label > img {
   position: absolute;
   width: 15px;
   height: 15px;
   top: 50%;
   right: 13px;
   transform: translateY(-50%);
}

.label > input,
.label > button {
   border-radius: 20px;
   padding: 8px 13px;
   width: 100%;
   border: none;
   outline: none;
   font-size: 12px;
   text-align: left;
}

.tablet {
   display: none;
}

@media screen and (min-width: 768px) {
   .hero {
      background-image: url('../../../../public/assets/HeroImagemd.png');
      height: 270px;
   }

   .content > h1 > span {
      display: none;
   }

   .content > h1 > img {
      display: initial;
      width: 200px;
   }

   .content p {
      margin: 1rem 0 2rem;
      font-size: 18px;
   }

   .content .results {
      display: block;
   }

   .label > input {
      border-radius: 25px;
      padding: 18px;
      font-size: 16px;
   }

   .label > img {
      width: 18px;
      height: 18px;
      right: 18px;
   }

   .mobile {
      display: none;
   }

   .tablet {
      display: initial;
   }
}

@media screen and (min-width: 1024px) {
   .hero {
      background-image: url('../../../../public/assets/HeroImagelg.png');
      height: 540px;
      padding-left: 108px;
   }

   .content {
      width: 40%;
   }

   .content > h1 > img {
      width: 300px;
   }

   .content p {
      margin: 16px 0 52px;
      font-size: 24px;
   }

   .label > img {
      right: 28px;
   }

   .label > input {
      border-radius: 35px;
      padding: 25px 28px;
      font-size: 18px;
   }
}
