.search {
   padding: 20px 0 40px;
}

.search h1 {
   margin-bottom: 52px;
}

.search > ul {
   display: grid;
   gap: 35px;
}

@media screen and (min-width: 768px) {
   .search {
      padding: 20px 0 80px;
   }

   .search > ul {
      gap: 55px;
   }
}
