@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mystery+Quest&display=swap');

:root {
   --black: #000000;
   --white: #fff;
   --gray: #e3e1dc;
   --brown: #4d270c;
   --brown-heading: #291507;
   --brown-light: #29150799;
}

*,
::after,
::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   max-width: 1440px;
   margin: auto;
   font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}

p {
   font-size: 12px;
}

img {
   max-width: 100%;
}

input {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
}

button {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

/* a {
   text-decoration: none;
} */

ul {
   list-style: none;
}

main {
   min-height: calc(100vh - 160px);
}

.container {
   width: 90%;
   max-width: 1248px;
   margin: auto;
}

.btn-with-icon {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   background: transparent;
   outline: none;
   border: none;
   text-transform: uppercase;
   font-size: 12px;
   color: var(--brown-light);
}

.btn-with-icon > img {
   width: 20px;
}

@media screen and (min-width: 768px) {
   main {
      min-height: calc(100vh - 200px);
   }

   body,
   p {
      font-size: 16px;
   }

   .btn-with-icon {
      font-size: 18px;
   }
}

@media screen and (min-width: 1024px) {
   body,
   p {
      font-size: 18px;
   }
}
